version: '3'

services:
  rancher:
    image: rancher/rancher:latest
    container_name: rancher
    volumes:
      - data:/var/lib/rancher/
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped  
volumes:
  data: